  @font-face {
      font-family: Space Mono;
      src: url(../../fonts/SpaceMono-Regular.ttf)
  }

  @font-face {
      font-family: Work Sans;
      src: url(../../fonts/WorkSans-Regular.ttf)
  }



  @media screen and(max-width:760px) {}

  .main1 {
      background-color: #2b2b2b;
  }

  header {}



  .row {}


  .net-two svg {
      margin-right: 15px;
      height: 100px;

  }

  nav {
      margin-left: auto;

  }

  nav a {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
      text-decoration: none;

  }

  nav button {

      flex-direction: row;
      align-items: center;
      width: 152px;
      height: 60px;

      background: #A259FF;
      border-radius: 20px;
      border: none;
      outline: none;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .discover {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 67px;
      line-height: 110%;

      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #FFFFFF;
      margin-bottom: 20px;
  }

  .texts-div {
      width: 510px;
      height: 544px;
      padding-top: 80px;


  }

  .ntf {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;

  }

  .getstart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 50px;
      gap: 12px;

      width: 224px;
      height: 60px;
      border: none;

      background: #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;

      margin-top: 30px;
  }

  .k240k {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;

      display: flex;
      align-items: center;
      text-transform: capitalize;


      color: #FFFFFF;
  }

  .tot {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 23.99px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .three_pairs {
      display: flex;
      flex-direction: row;
      gap: 60px;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .img_hero_div {
      padding-top: 80px;

  }


  /*  ---------------------   second banner         -----------------------------------------*/


  .second_banner {
      padding-bottom: 82px;
  }

  .trending_collection {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .first_banner {

      padding-bottom: 82px;

  }

  .text_checkout {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;
      color: #FFFFFF;
  }

  .text_couple {
      padding-top: 160px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 60px;
  }



  .box-number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 10px;

      height: 130px;
      width: 100%;

      background: #A259FF;
      border-radius: 20px;

  }

  .box-number span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 160%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;
  }

  .text-animals {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;

      text-transform: capitalize;

      color: #FFFFFF;
  }


  .fox_div span {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;
  }

  .group-img-three {
      display: flex;
      flex-direction: row;
      gap: 13px;
      padding-top: 15px;

  }

  .img-fluid {
      height: auto;
      width: 100%;
  }

  .img-cat {
      width: 100%;
  }

  .img-bear {
      width: 100%;
  }

  .img-mushr {
      width: 100%;
  }

  .img-mushr-small {
      width: 100%;

  }

  .img-man {
      width: 100%;
  }

  .img-man-2 {
      width: 100%;
  }


  /*  ---------------------   third  banner         -----------------------------------------*/
  .texts-banner-3 {

      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .third_banner {
      padding-top: 80px;
      padding-bottom: 80px;
  }



  .top_text_third_banner {
      display: flex;
      flex-direction: row;
      padding-bottom: 60px;
  }

  .top_creators {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;
      color: #FFFFFF;
  }

  .checkout {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;
      text-transform: capitalize;
      color: #FFFFFF;
  }

  .third_banner_button {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
      gap: 12px;

      width: 247px;
      height: 60px;
      background-color: #2b2b2b;

      border: 2px solid #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .top_first_group {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .button-right {
      margin-left: auto;
  }

  /*--------------------*/


  .women_1_img {

      background-color: #3B3B3B;
      width: 100%;
      height: 238px;

      position: relative;
      border-radius: 20px;

      justify-content: center;


  }

  .runking_number_1 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #2B2B2B;


      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;

      left: 20px;
      top: 18px;

  }

  .runking_number_1 span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #858584;

  }

  .img_women {

      display: flex;
      padding-top: 20px;
      justify-content: center;


  }

  .keepitreal {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;


      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;


  }

  .total_sales {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      text-align: right;

      color: #858584;
  }

  .number_34 {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;

  }

  .keepitreal_div {
      padding-top: 20px;
      display: flex;
      justify-content: center;

  }

  .total_number_div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      gap: 10px;

  }

  /* ------row-2------*/

  .third_banner_imges-row2 {

      padding-top: 30px;
  }

  .third_banner_imges-row3 {

      padding-top: 30px;
      padding-bottom: 80px;
  }



  /*  ---------------------   fourth  banner         -----------------------------------------*/


  .fourth_banner {
      padding-bottom: 80px;

  }

  .top_text_fourth_banner {
      padding-top: 80px;
      padding-bottom: 60px;
  }



  .top_text_fourth_banner {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;
      text-transform: capitalize;

      color: #FFFFFF;
  }

  .img_fourth-1-div {

      width: 100%;
      height: 316px;

      background: #3B3B3B;
      border-radius: 20px;
  }


  .art-div {
      padding-top: 20px;
      padding-left: 30px;

  }

  .art {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .group2-1 {
      display: flex;
      flex-direction: row;
      gap: 30px;
  }



  .img_icon_art {
      background-image: url(../../images/Art-img1.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;

  }

  .art-filter {
      position: absolute;
      height: 240px;
      left: 0px;
      right: 0px;
      top: 0px;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(7.5px);

      border-radius: 20px 20px 0px 0px;

      display: flex;
      justify-content: center;
      align-items: center;

  }

  .art-filter-svg {
      position: absolute;

  }


  .img_icon_collectibles {
      background-image: url(../../images/img-background-2.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_music {
      background-image: url(../../images/img-background-3.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_Photography {
      background-image: url(../../images/img-background-4.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_Video {
      background-image: url(../../images/img-background-5.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_Utility {
      background-image: url(../../images/img-background-6.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_Sport {

      background-image: url(../../images/img-background-7.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }

  .img_icon_Virtual_Worlds {
      background-image: url(../../images/img-background87.png);
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 20px 20px 0px 0px;
  }








  /*  ---------------------   fifth  banner         -----------------------------------------*/


  .footer1 {
      padding-top: 44px;

  }

  .fifth_banner_text {
      padding-top: 80px;
      padding-bottom: 80px;

  }

  .img-fifth-1-div {
      display: flex;
      flex-direction: column;

      padding: 0px;

      width: 100%;
      height: 100%;

      background: #3B3B3B;
      border-radius: 20px;
  }

  .text-banner-5-1 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-top: 20px;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 25px;

  }

  .two {
      display: flex;
      gap: 12px;


  }

  .distanse {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      text-transform: capitalize;
      color: #FFFFFF;
  }

  .two-1 span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;

      text-align: right;

      color: #858584;
  }

  .moondancer {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;
  }

  .two-1 {
      display: flex;
      flex-direction: row;
      gap: 168px;


  }

  .two-2 span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      text-align: right;

      color: #FFFFFF;
  }

  .two-2 {
      display: flex;
      flex-direction: row;
      gap: 120px;


  }

  .sixth_banner {
      padding-top: 80px;

  }






  /*  ---------------------   sixth  banner         -----------------------------------------*/


  .sixth_banner {
      display: flex;

      flex-direction: column;
      gap: 30px;
  }

  .background-mushroom {
      background-image: url(../../images/mushroom-big.jpg);
      height: 640px;

      background-size: cover;
      align-items: center;
      display: flex;
      justify-content: center;

      width: 100%;

      position: relative;


  }

  .transbox {

      position: absolute;
      height: 640px;
      left: 0px;
      right: 0px;
      top: 0px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding: 360px 195px 60px;


      background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
  }



  .shroom {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;
      gap: 12px;

      width: 151px;
      height: 44px;

      background: #3B3B3B;
      border-radius: 20px;
      border: none;


      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;
  }

  .text-magic {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 51px;
      line-height: 110%;

      text-transform: capitalize;

      color: #FFFFFF;


  }



  .See-NFT {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 22px 40px;
      gap: 12px;

      width: 198px;
      height: 60px;

      border: none;


      background: #FFFFFF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #2B2B2B;
  }

  .text-magic-div {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .bg-timer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;


      padding: 30px;
      gap: 10px;

      width: 295px;
      height: 144px;

      background: rgba(59, 59, 59, 0.5);
      backdrop-filter: blur(5px);


      border-radius: 20px;
  }


  .timer {

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;

  }

  .time {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;

      color: #FFFFFF;
      display: flex;
      flex-direction: row;
      gap: 10px;

  }




  .Auction-div {

      padding-bottom: 10px;

  }

  .Auction_ends_in {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;
      padding-bottom: 5px;



      color: #FFFFFF;
  }

  .hours-minut-second {
      display: flex;
      gap: 44px;


      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;


      color: #FFFFFF;
  }




  /*  ---------------------    seventh banner         -----------------------------------------*/

  .seventh_banner {
      padding-bottom: 80px;
      padding-top: 80px;
  }

  .text-How_it {
      padding-bottom: 10px;
  }

  .text-How_it span {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .text-Find_out {
      padding-bottom: 48px;
  }

  .text-Find_out {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;
  }


  /*--------*/

  .first-picture-div1 {

      height: 439px;
      display: flex;

      background: #3B3B3B;
      border-radius: 20px;
      justify-content: center;
      flex-direction: column;
  }

  .first-picture-div {

      height: 439px;
      display: flex;


      background: #3B3B3B;
      border-radius: 20px;
      justify-content: center;
      flex-direction: column;
  }



  .img-icon-div {
      padding-top: 10px;
      padding-left: 60px;
      padding-right: 60px;
      justify-content: center;


  }


  .text-Setup {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;

      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;
  }

  .text-connect {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .text-down-div {

      display: flex;
      gap: 10px;
      flex-direction: column;

      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;

  }


  /*  ---------------------   eight  banner         -----------------------------------------*/



  .eighth_banner {
      padding-top: 40px;
  }

  .frame {
      height: 430px;

      background: #3B3B3B;
      border-radius: 20px;
      margin-bottom: 80px;
  }

  .cosmonaut {
      padding-top: 60px;

  }

  .img-cosmonaut-div {
      padding-left: 60px;
  }

  .text-group-div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 79px;

  }

  .text-Join {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .text-Get-exclusive {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;
      color: #FFFFFF;
  }

  .email-btn {

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 0px 16px 20px;
      gap: 12px;

      width: 425px;
      height: 60px;



      background: #FFFFFF;
      border-radius: 20px;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      border: none;


      color: #2B2B2B;
  }

  .subscribe_forms {
      display: flex;
      position: absolute;
      right: 0;

      flex-direction: row;

      align-items: center;


      padding: 0px 50px;
      gap: 12px;

      width: 211px;
      height: 60px;

      background: #A259FF;
      border-radius: 20px;
      border: none;

  }

  .subscribe_forms-div {
      margin-top: 40px;
      display: flex;
      width: 425px;
      position: relative;
      background-color: #FFFFFF;
      border-radius: 50%;

  }




  /*  ---------------------    footer  banner         -----------------------------------------*/


  .background-black {
      display: flex;

      height: 334px;
      background-color: #3B3B3B;
      background-size: cover;
      width: 100%;
      background-image: #3B3B3B;

  }

  .net-two1 {
      display: flex;
      flex-direction: row;
      height: 32px;
      align-items: center;
      gap: 8px;

  }

  .text-NFT_marketplace {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #CCCCCC;
  }

  .text-div_footer {
      padding-top: 20px;

  }

  .text_icons-div {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

  .text-Join_community {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #CCCCCC;
  }

  .icons_group-div {
      display: flex;
      flex-direction: row;
      gap: 10px;
  }

  .Explore span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 160%;
      text-transform: capitalize;
      color: #FFFFFF;
  }

  .text-footer_group-div span {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #CCCCCC;
  }

  .text-footer_group-div {
      display: flex;
      flex-direction: column;
      padding-top: 25px;
      gap: 20px;
  }

  .logo-weekly_digest {
      padding-bottom: 25px;

  }

  .logo-weekly_digest span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;
  }


  .subscribe_forms-div1 {
      padding-top: 20px;
      display: flex;
      width: 425px;
      position: relative;

  }

  .text-info-div {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #CCCCCC;
  }

  .divider {
      padding-top: 16px;

  }

  .last_text-div span {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;

      color: #CCCCCC;
  }

  .last_text-div {
      padding-top: 8px;
  }