  @font-face {
      font-family: Space Mono;
      src: url(../../fonts/SpaceMono-Regular.ttf)
  }

  @font-face {
      font-family: Work Sans;
      src: url(../../fonts/WorkSans-Regular.ttf)
  }


  header {
      background-color: #2b2b2b;
      height: 900px;

  }



  .row {}


  .net-two svg {
      margin-right: 15px;

  }

  nav a {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
      text-decoration: none;
  }

  nav button {

      flex-direction: row;
      align-items: center;
      width: 152px;
      height: 60px;

      background: #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .discover {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 67px;
      line-height: 110%;

      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #FFFFFF;
      margin-bottom: 20px;
  }

  .texts-div {
      width: 510px;
      height: 544px;
      padding-left: 70px;


  }

  .ntf {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;

  }

  .getstart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 50px;
      gap: 12px;

      width: 224px;
      height: 60px;
      border: none;

      background: #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;

      margin-top: 30px;
  }

  .k240k {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;

      display: flex;
      align-items: center;
      text-transform: capitalize;


      color: #FFFFFF;
  }

  .tot {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 23.99px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .fffff {
      display: flex;
      flex-direction: row;
      gap: 60px;
      padding-top: 30px;
      padding-bottom: 30px;
  }