  @font-face {
      font-family: Space Mono;
      src: url(../../fonts/SpaceMono-Regular.ttf)
  }

  @font-face {
      font-family: Work Sans;
      src: url(../../fonts/WorkSans-Regular.ttf)
  }



  .card {
      background-color: #2b2b2b;
  }

  header {
      background-color: #2b2b2b;


  }



  .row {}


  .net-two svg {
      margin-right: 15px;
      height: 100px;

  }

  nav {
      margin-left: auto;

  }

  nav a {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
      text-decoration: none;

  }

  nav button {

      flex-direction: row;
      align-items: center;
      width: 152px;
      height: 60px;

      background: #A259FF;
      border-radius: 20px;
      border: none;
      outline: none;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .discover {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 67px;
      line-height: 110%;

      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #FFFFFF;
      margin-bottom: 20px;
  }

  .texts-div {
      width: 510px;
      height: 544px;
      padding-top: 80px;


  }

  .ntf {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;

  }

  .getstart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 50px;
      gap: 12px;

      width: 224px;
      height: 60px;
      border: none;

      background: #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;

      margin-top: 30px;
  }

  .k240k {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;

      display: flex;
      align-items: center;
      text-transform: capitalize;


      color: #FFFFFF;
  }

  .tot {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 23.99px;
      line-height: 160%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .three_pairs {
      display: flex;
      flex-direction: row;
      gap: 60px;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .img_hero_div {
      padding-top: 80px;
  }


  /*  ---------------------   second banner         -----------------------------------------*/




  .trending_collection {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .second_banner {
      background-color: #2b2b2b;
      padding-bottom: 82px;

  }

  .text_checkout {

      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;

      text-transform: capitalize;
      color: #FFFFFF;
  }

  .text_couple {
      padding-top: 160px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 60px;
  }

  .group_1 {
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
  }



  .box-number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 32px 15px;
      gap: 10px;

      width: 100px;
      height: 100px;

      background: #A259FF;
      border-radius: 20px;
  }

  .box-number span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 160%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;
  }

  .text-animals {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;

      text-transform: capitalize;

      color: #FFFFFF;
  }

  .fox_div {
      display: flex;
      flex-direction: row;
      gap: 12px;
  }

  .fox_div span {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;
  }


  /*  ---------------------   third  banner         -----------------------------------------*/


  .third_banner_text {
      padding-top: 162px;
  }

  .top_text_third_banner {
      display: flex;
      flex-direction: row;
      padding-bottom: 60px;
  }

  .top_creators {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 120%;

      text-transform: capitalize;
      color: #FFFFFF;
  }

  .checkout {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;
      text-transform: capitalize;
      color: #FFFFFF;
  }

  .third_banner_button {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
      gap: 12px;

      width: 247px;
      height: 60px;
      background-color: #2b2b2b;

      border: 2px solid #A259FF;
      border-radius: 20px;

      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      text-align: center;

      color: #FFFFFF;
  }

  .top_first_group {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .button-right {
      margin-left: auto;
  }

  /*--------------------*/


  .women_1_img {

      background-color: #3B3B3B;
      width: 240px;
      height: 238px;
      position: relative;
      border-radius: 20px;

      justify-content: center;

  }

  .runking_number_1 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #2B2B2B;


      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;

      left: 20px;
      top: 18px;

  }

  .runking_number_1 span {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #858584;

  }

  .img_women {
      padding-left: 60px;
      padding-top: 20px;

  }

  .keepitreal {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;


      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;


  }

  .total_sales {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      text-align: right;

      color: #858584;
  }

  .number_34 {
      font-family: Space Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;

  }

  .keepitreal_div {
      padding-top: 20px;
      display: flex;
      justify-content: center;

  }

  .total_number_div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      gap: 10px;

  }

  /* ------row-2------*/

  .third_banner_imges-row2 {

      padding-top: 30px;
  }

  .third_banner_imges-row3 {

      padding-top: 30px;
  }